<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div id="app">
      <h1><%= title %></h1>
      <div><%= content %></div>
            <img src="/Ginger.jpeg" alt="As told by Ginger pic/ ginger is in her room"> <br>
            <a href="/download-image">Download Image</a>
    </div>
  </body>
</html>